html {
  font-family: "Outfit", sans-serif;
  font-size: 1.1vw;
}

body {
  background-color: hsl(217, 54%, 11%);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100%;
}

main{
  height: 100%;
  width: 100%;
}

.card {
  background-color: hsl(216, 50%, 16%);
  height: 38vw;
  margin: 0 auto 45px auto;
  width: 22%;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 10px 10px 25px hsl(217, 54%, 9%);
}

.collection-image, .collection-details {
  position: relative;
  width: 86%;
  height: auto;
  margin: auto;
}

.collection-image__link{
  height: 100%;
  width: 100%;
}

.collection-image__img {
  width: 100%;
  height: auto;
}

.collection-image__overlay {
  opacity: 0;
  background-color: hsla(178, 100%, 50%, 0.5);
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  margin: auto;
  justify-content: center;
  align-items: center;
  transition: opacity .35s ease-in-out;
  cursor: pointer;
}

.collection-image__overlay:hover {
  opacity: 100%;
  transition: opacity .35s ease-in-out;
}

.flex-container {
  justify-content: space-between;
}

.collection-details {
  margin-top: 0;
}

.collection-details a {
  color: inherit;
  text-decoration: none;
}

.collection-details__title {
  font-size: 1.1rem;
  transition: color .25s ease-in-out;
}

.collection-details__title:hover {
  color: hsl(178, 100%, 50%);
}

.collection-details__description {
  font-size: 1rem;
}

.collection-details__price-div, .collection-details__duration-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.collection-details__price-img, .collection-details__duration-img {
  margin-right: 5px;
}

.collection-details__price, .collection-details__duration {
  font-size: 0.85rem;
}

.collection-details__creator {
  align-items: center;
  border-top: 1px solid hsl(215, 32%, 27%);
  margin-top: 20px;
  padding-top: 15px;
}

.collection-details__creator-img {
  width: 10%;
  height: auto;
  border: 1px solid white;
  border-radius: 1vw;
  margin-right: 15px;
}

.collection-details__creator-text {
  font-size: 0.85rem;
}

a.collection-details__creator-name {
  color: white;
  transition: color .25s ease-in-out;
}

.collection-details__creator-name:hover {
  color: hsl(178, 100%, 50%);
}

footer{
  max-width: 80%;
}

.pointer {
  cursor: pointer;
}

.font-light {
  font-weight: 300;
}

.font-medium {
  font-weight: 400;
}

.font-bold {
  font-weight: 600;
}

.inline-block {
  display: inline-block;
}

.no-margin {
  margin: 0;
}

.color-white {
  color: hsl(0, 0%, 100%);
}

.color-softblue {
  color: hsl(215, 51%, 70%);
}

.color-cyan {
  color: hsl(178, 100%, 50%);
}

.round-border {
  border-radius: 10px;
}

.flex {
  display: flex;
}

@media screen and (max-width: 1024px) {
  html {
    font-size: 1.8vw;
  }

  .card {
    height: 54vw;
    width: 30%;
  }

  .collection-details__creator-img {
    border-radius: 1.8vw;
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 2.5vw;
  }

  .card {
    height: 70vw;
    width: 40%;
  }

  .collection-details__creator-img {
    border-radius: 2.5vw;
  }
}

@media screen and (max-width: 480px) {
  html {
    font-size: 4vw;
  }

  .card {
    height: 122vw;
    width: 70%;
  }

  .collection-details__creator-img {
    border-radius: 4vw;
  }
}
